{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content d-flex">
        <p class="h2 ml-2 mr-2">New Questions</p>
        <p>Hot Questions</p>
    </div>
    {% for question in questions %}
        <div class="content forms">
            <div class="row">
                <div class="col-4"><img src="{% static "images/avatar.webp" %}" class="rounded m-2" width="60"
                                        height="60"/>
                </div>
                <div class="col-6">
                    <span><a href="{% url "question" question.id %}">{{ question.title }}</a></span>
                    <span> rating={{ question.rating }}</span>
                    <span>data={{ question.data_create }}</span>
                    <p>{{ question.content }}</p>
                    <a href="#">answer(3)</a><span>Tags: </span><a href="#">{{ question.tag.tag_word }}</a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}