{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content forms">
        <div class="row">
            <div class="col-4 d-flex flex-column">
                <img src="{% static "images/avatar.webp" %}" class="rounded m-2"/>
                <input type="number" name="like" class="form-control m-2 col-3" value="5" size="2"/>
            </div>
            <div class="col-6">
                {% for question in questions %}
                    <span><a href="#">{{ question.title }}</a></span>
                    <span> rating={{ question.rating }}</span>
                    <span>data={{ question.data_create }}</span>
                    <p>{{ question.content }}</p>
                    <a href="{% url 'question' question.id %}">Answer({{ question.answer_count }}) </a>
                    <span>Tags: </span>
                    {% for tag in question.tag.all %}
                        <a href="{% url 'tag' tag.tag_word %}"> {{ tag.tag_word }}
                    {% endfor %}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% for answer in answers %}
        <div class="row">
            <div class="col-4 d-flex flex-column">
                <img src="{% static "images/avatar.webp" %}" class="rounded m-2"/>
                <input type="number" name="like" class="form-control m-2 col-3" value="5" size="2"/>
            </div>
            <div class="col-6">
                <p>It is ANSWER&nbsp;{{ answer.content }}</p>
                <strong>{{ answer.author }}&nbsp;</strong><span>{{ answer.rating }}</span>
                <label for="correct_answ">Corrrect!</label>
                <input type="checkbox" id="correct_answ">
            </div>
        </div>

    {% endfor %}
{% endblock %}